openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
- url: http://localhost:8081
  description: Generated server url
paths:
  /auth:
    post:
      tags:
      - auth-controller
      operationId: register
      parameters:
      - name: loginDto
        in: query
        required: true
        schema:
          $ref: "#/components/schemas/LoginDto"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
  /home:
    get:
      tags:
      - home-controller
      operationId: home
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /admins:
    get:
      tags:
      - admin-controller
      operationId: getAllAdmins
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
components:
  schemas:
    AttributesDto:
      type: object
      properties:
        attribute_key:
          type: string
    CredentialsDto:
      type: object
      properties:
        temporary:
          type: boolean
        type:
          type: string
        value:
          type: string
    LoginDto:
      type: object
      properties:
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        emailVerified:
          type: boolean
        enabled:
          type: boolean
        credentials:
          $ref: "#/components/schemas/CredentialsDto"
        attributes:
          $ref: "#/components/schemas/AttributesDto"
