spring:
  application:
    name: app
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/my_db}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

springdoc:
  swagger-ui:
    path: /swagger-ui.html
